/* mobile.css
 * Author: Abdulrahman Tolba
 * Date: 11 March 2019
 */

#what .items {
    display: block;
    padding: 1rem;
}

/* Align icon to the left */
 #what .items .item {
    display: flex;
    text-align: left;
}

/* Position icon */
#what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

/* Smartphones */

@media (max-width: 500px) {
    /* Navigation Bar */
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    #navbar ul {
        padding: 0.5rem;
    }

    /* Remove spacing from showcase overlay */
    #showcase .showcase-content {
        top: 110px;
    }

    /* Remove image from 'who' area */
    #who {
        display: block;
    }

    #who .who-img {
        display:none;
    }

    /* Clients */
    #clients .items img {
        width: 80%;
    }

    #clients .items div:last-child {
        display: none;
    }

    /* Contact */
    #contact {
        flex-direction: column;
    }

    #contact .map {
        height: 25vh;
        border-top: 3px solid #333;
    }
}

/* For extra small screens (iPhone 5 & below) */
@media(max-height:568px) {
    .l-heading{
        font-size: 3rem;
    }
    .lead {
        font-size: 1rem;
    }

    /* Remove spacing from showcase overlay */
    #showcase .showcase-content {
        top: 140px;
        margin-top: -2rem;
    }
}