/* widescreen.css
 * Author: Abdulrahman Tolba
 * Date: 11 March 2019
 */

 /* Align icon to the left */
 #what .items .item {
    display: flex;
    text-align: left;
}

/* Position icon */

#what .items .item i {
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

#contact .map {
    flex: 2;
}